<?xml version="1.0"?>
<launch>
  <include file="$(find kinova_vision)/launch/kinova_vision_rgbd.launch">
    <arg name="device" default="192.168.25.101" doc="Device IPv4 address" />
  </include>
    <arg name="arm" default="gen3"/> <!-- gen3 is the only supported arm for now -->
    <arg name="gripper" default="robotiq_2f_85"/> <!-- "robotiq_2f_85" is the only supported gripper for now, as well as no gripper ("") -->
    <arg name="robot_name" default="my_$(arg arm)"/>

  <include file="$(find kortex_driver)/launch/kortex_driver.launch">
    <!-- Kortex API options -->
    <arg name="ip_address" default="192.168.25.101"/>
    <arg name="start_rviz" default="false"/>
    <param name="robot_description" command="$(find xacro)/xacro --inorder $(find kortex_description)/robots/$(arg arm)_$(arg gripper).xacro sim:=false"
            unless="$(eval not arg('gripper'))"/>
  </include>


</launch>

